
nav ul a,
nav .brand-logo {
  color: black;
  margin-left: 10%;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.brand-logo {
  margin-top: 20px;
}

.icon-logo {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

#nav {
  height: 100px;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.nav-wrapper {
  background-color: #FEDC3D; 
}

#sideCol {
  background-color: white;
}

#footerContainer {
  background-color: #01ABAA;
}

#nav-thing {
  font-size: 40px; 
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#nav-links {
  color: white;
}

#nav-links:hover {
  border-radius: 6px;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #FEDC3D; 
  font-family: 'Permanent Marker', cursive;
}

body {
  background: url("../images/nycsub2.jpg") no-repeat center center fixed;
}