
nav ul a,
nav .brand-logo {
  color: black;
  margin-left: 10%;
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.brand-logo {
  margin-top: 20px;
}

.icon-logo {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}

#nav {
  height: 100px;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.nav-wrapper {
  background-color: #FEDC3D; 
}

#sideCol {
  background-color: white;
}

#footerContainer {
  background-color: #FEDC3D;
  color: black;
}

#footer-text {
  color: black;
}

#secondLogo {
  font-family: 'Permanent Marker', cursive;
}

#border-nav {
  border-bottom-style: solid; 
  border-bottom-width: 2px;
  border-bottom-color: #01ABAA;
}

#nav-thing {
  font-size: 40px; 
  color: white;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

#nav-links {
  color: white;
}

#nav-links:hover {
  border-radius: 6px;
  padding: 10px;
  color: black;
  text-align: center;
  background-color: #FEDC3D; 
  font-family: 'Permanent Marker', cursive;
}

body {
  background-color: black;
}

.tweet {
  border-style: solid; 
  border-width: 2px;
  border-color: #01ABAA;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 50px;
  line-height: 1rem;
  background-color: black;
  color: white;
  /*font-family: 'Bangers', cursive;*/
  text-align: center;
}

.tweetText, .tweetDate, .textEntry {
  margin-left: 5px;
  margin-right: 5px;
}

#sideCol {
  background-color: black;
}

.tweet-container {
  border-right-style: solid; 
  border-right-width: 3px;
  border-right-color: #FEA680;
}

#captionTop {
  color: #FEA680;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
  margin-right: 50px;
}

.fb-page {
  margin-left: 40px;
  border-style: solid; 
  border-width: 2px;
  border-color: #01ABAA;
  border-radius: 6px; 
  padding: 5px;
}

#captionBottom {
  color: #FEA680;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
  margin-right: 50px;
  display: none;
}

.eventBlocks {
  border-style: solid; 
  border-width: 2px;
  border-color: #01ABAA;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 50px;
  line-height: 1rem;
  background-color: black;
  color: white;
  /*font-family: 'Bangers', cursive;*/
}

.urlEntry {
  float: right;
  margin-right: 10px;
  background-color: #FEA680;
}

.futureContainer {
  margin-left: 40px;
}

.pastContainer {
  margin-left: 40px;
  display: none;
}

#pastEventsBtn {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FEA680;
  display: none;
}

#captionPast {
  color: #FEA680;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
  margin-right: 50px;
  display: none;
}

#standup {
  color: #FEA680;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-align: center;
}

#ytplayer {
  border-style: solid; 
  border-width: 2px;
  border-color: #01ABAA;
  border-radius: 6px;
}

.bio-content {
  border-style: solid; 
  border-width: 2px;
  border-color: #01ABAA;
  border-radius: 6px;
  width: 100%;
  text-align: left; 
  color: white;
  font-size: 35px; 
}

#bioText {
  margin-left: 20px;
  margin-bottom: 75px;
}